.vertical-line::after{
    content:'';
    position:absolute;
    height:20px;
    width:.4px;
    top:0;
    bottom:0;
    padding-bottom: 3px;
    background-color:hsl(7, 90%, 64%);  
    margin: auto;
    padding-left: 2px;
    padding-right:2px;

}
.highlight-on-hover {
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
  }
  
  .highlight-on-hover:hover {
    box-shadow: 0 0 10px yellow; 
  }

  .round-light-effect {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 20px; /* İçeriği ayırmak için biraz boşluk ekleyebilirsiniz. */
    transition: box-shadow 0.3s ease;
  }
  
 .round-light-effect:hover {
    box-shadow: 0 0 30px 10px rgba(255, 255, 0, 0.7); /* Yuvarlak bir sarı ışık efekti ekleyin. */
  }